.main {
    display: grid;
    place-items: center;
    grid-column: content;
}


.card {
    width: min(100%, 386px);
    margin-inline: auto;
    background-color: var(--clr-neutral-990);
    border-radius: 0.5rem;
    padding: 2.5rem;
    color: var(--clr-neutral-100);

    display: grid;
    row-gap: 1.5rem;
    font-size: var(--fs-400);
    position: relative;
}

.editLink {
    display: inline-block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.edit {
    height: 1.25rem;
    width: 1.25rem;
}

.edit:hover {
    fill: var(--clr-primary-500);
    cursor: pointer;
}