.main {
    display: grid;
    place-items: center;
    grid-column: content;
}

.card {
    width: min(100%, 386px);
    margin-inline: auto;
    background-color: var(--clr-neutral-990);
    border-radius: 0.5rem;
    padding: 2.5rem;
    color: var(--clr-neutral-100);

    display: grid;
    row-gap: 1.5rem;
    font-size: var(--fs-400);
    position: relative;
}

.card > * {
    border-radius: 1rem;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    text-align: center;
    align-items: center;
}

.picture {
    margin-inline: auto;
    margin-block-end: 1.5rem;
    border-radius: 50%;
    background-color: hsl(0, 0%, 34%);
    width: 89px;
    height: 89px;
}

.name {
    margin-block-end: 0.5rem;
    background-color: hsl(0, 0%, 34%);
    width: 70%;
    border-radius: 0.25rem;
    height: 30px;
}

.location {
    margin-block-end: 1.5rem;
    background-color: hsl(0, 0%, 34%);
    width: 50%;
    border-radius: 0.25rem;
    height: 18px;
}

.bio {
    /* margin-block-end: 1.5rem; */
    background-color: hsl(0, 0%, 34%);
    width: 100%;
    border-radius: 0.25rem;
    height: 18px;
}

.link {
    margin-block-end: 0.25rem;
    background-color: hsl(0, 0%, 34%);
    height: 50px;
    border-radius: 0.5rem;
}

.error {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    cursor: pointer;
}