.loginPage {
    background-image: linear-gradient(
        200deg,
        var(--clr-neutral-1100) 60%, 
        var(--clr-primary-500) 60%
    );
    color: var(--clr-neutral-100);
    min-height: 100svh;
    display: grid;
    grid-template-columns: 
        [full-width-start] 1fr [content-start] min(90vw, 541px) [content-end] 1fr [full-width-end];
    grid-template-rows: minmax(2rem, 1fr) [content-start] auto [content-end] minmax(2rem, 1fr);
}

.logo {
    font-weight: 600;
    font-size: var(--fs-600);
    margin-block-end: 2rem;
}

.formBlock {
    grid-column: content;
    grid-row: content;
    padding: 4rem;
    background-color: var(--clr-neutral-990);
    box-shadow: var(--clr-neutral-900) 0 7px 7px -2px;
    border-radius: 0.5rem;
}

.loginForm {
    display: grid;
    row-gap: 1.5rem;
    margin-block-end: 2rem;
}

.formHeading {
    font-size: var(--fs-750);
    font-weight:var(--fw-semi-bold);
}

.loginFormItem {
    display: grid;
    row-gap: 0.5rem;
}

.loginFormItem input {
    padding: 0.75rem;
    border-radius: 0.2rem;
    border: none
}

.loginFormItem input:focus {
    /* border: 3px solid var(--clr-primary-500); */
    /* outline: none; */
}

.loginFormSubmit {
    margin-block-start: 1rem;
    padding: 0.75rem;
    color: var(--clr-neutral-1100);
    background-color: var(--clr-primary-500);
    border: none;
    border-radius: 0.2rem;
}

.loginFormSubmit:hover {
    cursor: pointer;
}

.registerLink,
.registerLink:visited {
    color: var(--clr-primary-500);
    cursor: pointer;
}